# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

basic-network/channel-artifacts/*.tx
basic-network/channel-artifacts/*.block
basic-network/crypto-config/*

node_modules
scripts/hfc-key-store/
access_token.txt


